<h1>
  投稿一覧
  <!--Lists#index-->
</h1>
<!--<p>Find me in app/views/lists/index.html.erb</p>-->

<!--%= @lists.each do |list| %>-->
<% @lists.each do |list| %>

  <p>タイトル</p>
  <!--<span>-->
    <!--%= list.title %></span>-->
  <span>
    <!--%= link_to list.title,"/lists/#{list.id}" %>-->
    <%= link_to list.title, list_path(list.id) %>
  </span>
<% end %>